<div class="container">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ url_for('home') }}">CD on the map</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">List</a></li> -->
        <li><a href="{{ url_for('events') }}">Events</a></li>
        <li><a href="{{ url_for('organizations') }}">Organizations</a></li>
        <li><a href="{{ url_for('business') }}">Business</a></li>
        <li><a href="{{ url_for('history') }}">History</a></li>

        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('resources') }}">Resources</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
  	<div class="col-xs-12">
		  <img id="detailImage" src="" alt="image of the place/event">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h3 id="name">Name</h3>
			<h4 id="address">address</h4>
			<h4 id="phone">phone</h4>
		</div>

		<div class="col-xs-6">
			<img id="mapThumb" src="" alt="thumbnail of its location">
		</div>
	</div>
	<h3>Description</h3>
	<p id="description">some info about the business</p>




</div>