
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/assets/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <script src="/assets/js/bootstrap.min.js"></script> -->
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">
    <script src={{ url_for('static', filename='jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='bootstrap.min.js') }}></script>
    <link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet">


    <title>Home</title>

  </head>

  <body>

  <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsableSection">
              <!-- <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".collapsableSection" type="button"> -->
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>


          <a class="navbar-brand" href="{{ url_for('home') }}"><img src={{ url_for('static', filename='africatown_logo_horiz_white.png') }} height="35" ></a>

      </div>

        <div class="collapse navbar-collapse nav-item" id="collapsableSection">

          <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">List</a></li> -->

              <li><a href="{{ url_for('community') }}">Community</a></li>
              <li><a href="{{ url_for('businesses') }}">Business</a></li>
              <li><a href="{{ url_for('history') }}">History</a></li>

              <li><a href="{{ url_for('about') }}">About</a></li>

          </ul>
      </div>
  </nav>

  	<div class="container">


      <!--<div class="jumbotron">-->
        <!--<p style="color: #fff">Cultural business portal for Seattle's AfricaTown</p>-->
      <!--</div>-->

      <div style="text-align:center;margin-bottom: 20px;">
          <img style="width: 50%;" src="/static/africatown_logo_vert.png" />
      </div>
      <div style="padding-left: 15px;margin: 10px 0;">
         Seattle's Central District business and cultural directory.
      </div>

      <div class="featured_label" style="padding: 10px 15px;">
        <img style="height:20px; margin-right: 10px;" src="/static/africatown_feat.png" />Featured Businesses
      </div>
      <div class="list-group">
        {% for place in featured %}
          <a href="{{ url_for('.detail',  ID=place['id'], Genre='business')}}" class="list-group-item">
            <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
            <h4>{{ place['name'] }}</h4>
            <p>{{ place['address'] }}</p>
          </a>
        {% endfor %}
        <!-- <a href="#" class="list-group-item">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <h4>Featured Community Organisation</h4>
          <p>address</p>
        </a>

        <a href="#" class="list-group-item">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <h4>Featured Event</h4>
          <p>address</p>
          <p>date/time</p>
        </a> -->
      </div>

    </div>
  </body>
  </html>
