<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='bootstrap.min.css') }} rel="stylesheet">
    <script src={{ url_for('static', filename='jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='bootstrap.min.js') }}></script>
    <link rel="stylesheet"   href={{ url_for('static', filename='js/leaflet/leaflet.css') }}></link>
    <link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet">

      <title>Map</title>
      <style>
          body {
              padding: 0;
              margin: 0;
          }
          html, body {
              height: 100%;
          }

          #map {
            height: 80%;
          }

          #mini_details{
              height: 15%;
          }

          .mini-item {
              padding: 10px 0;
          }

          .mini-item span {
              padding: 0 20px;
          }

          .gps_ring {
              border: 2px solid #51F1FF;
              -webkit-border-radius: 30px;
              border-radius: 30px;
              height: 18px;
              width: 18px;
              -webkit-animation: pulsate 1s ease-out;
              -webkit-animation-iteration-count: infinite;
              opacity: 0.0
          }
          @-webkit-keyframes pulsate {
              0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
              50% {opacity: 1.0;}
              100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
          }

          .icon-yellow{

          }

      </style>
  </head>

  <body>

  <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{{ url_for('home') }}"><img src={{ url_for('static', filename='africatown_logo_croped.png') }} height="30" ></a>
          <p class="navbar-text">{{ mode.capitalize() }}</p>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">List</a></li> -->
              <li><a href="{{ url_for('community') }}">Community</a></li>
              <li><a href="{{ url_for('businesses') }}">Business</a></li>
              <li><a href="{{ url_for('history') }}">History</a></li>

              <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
      </div>
  </nav>

    <div class="container">



      <div class="btn-group btn-group-justified map_list_toggle">
        
        <a role="button" class="btn btn-default active">Map</a>
        
        
        <a role="button" href="{{ url_for(target) }}" class="btn btn-default">List</a>
        
      </div>

      <div id="map">
      </div>


      <div id="mini_details">

      </div>

      <!--<ul>-->
        <!--{% for place in toList %}-->
          <!--<script type=text/javascript>-->
          <!--addMarker(place);-->
          <!--</script>-->
        <!--{% endfor %}-->
      <!--</ul>-->
    </div>
    <script src={{ url_for('static', filename='js/leaflet/leaflet.js') }}></script>
    <script type="text/javascript">
        var map = L.map('map').setView([47.6, -122.3], 13);
        var userLocation; //hold the user's location.

        L.tileLayer('https://{s}.tiles.mapbox.com/v3/examples.map-qfyrx5r8/{z}/{x}/{y}.png', {
            attribution: '',
            maxZoom: 18
        }).addTo(map);

        getLocation();



        loadThemes();

        var mode;

        {% if mode == 'history' %}
            mode = 'history';
            loadHistoricalLandmarks();
        {% endif %}

        {% if  mode == 'business' %}
            mode = 'business';
            loadBusinesses();
        {% endif %}

        {% if mode == 'community' %}
            mode = 'community';
            loadCommunityOrganizations();
        {% endif %}


        function loadThemes(){
            loadCDBoundary();
        }

        function loadCDBoundary(){
            //Load boundary json file
            $.getJSON("/static/data/cd_boundary.json", function(data) {
                L.geoJson(data).addTo(map);
            });
        }

        function addMarker(marker){
            //var layer =  L.layerGroup();
            map.addLayer(L.marker([marker.geometry.location.lat, marker.geometry.location.lng]));
        }

        function loadHistoricalLandmarks(){
            //Load the Historical Landmarks JSON file and add entries to the map.
            var historicalLayer =  L.layerGroup();

            $.getJSON("/static/data/historical_landmarks.json", function(data){
                //got the data. Loop and add to a marker group.

                $.each(data.results, function(idx, result){
                    var myIcon = L.icon({
                        iconUrl: '/static/yellow.png',
                        iconSize: [25, 40],
                        iconAnchor: [0, 40]
                    });
                    var marker = L.marker([result.geometry.location.lat, result.geometry.location.lng], { icon: myIcon });
                    historicalLayer.addLayer(marker);

                    marker.on('click', function(e) {
                        //Show details in panel.
                        showDetails(result);
                    });
                });
            });

            historicalLayer.addTo(map);

            return historicalLayer;

        }

        function loadBusinesses(){
            //Load the Historical Landmarks JSON file and add entries to the map.
            var businessLayer =  L.layerGroup();

            $.getJSON("/static/data/businesses.json", function(data){
                //got the data. Loop and add to a marker group.

                $.each(data.results, function(idx, result){
                    var myIcon = L.icon({
                        iconUrl: '/static/green.png',
                        iconSize: [25, 40],
                        iconAnchor: [0, 40]
                    });
                    var marker = L.marker([result.geometry.location.lat, result.geometry.location.lng], { icon: myIcon });

                    businessLayer.addLayer(marker);

                    marker.on('click', function(e) {
                        //Show details in panel.
                        showDetails(result);
                    });
                });
            });

            businessLayer.addTo(map);

            return businessLayer;
        }

        function loadCommunityOrganizations(){
            //Load the Historical Landmarks JSON file and add entries to the map.
            var coLayer =  L.layerGroup();

            $.getJSON("/static/data/community_institutions.json", function(data){
                //got the data. Loop and add to a marker group.

                $.each(data.results, function(idx, result){
                    var myIcon = L.icon({
                        iconUrl: '/static/orange.png',
                        iconSize: [25, 40],
                        iconAnchor: [0, 40]
                    });
                    var marker = L.marker([result.geometry.location.lat, result.geometry.location.lng], { icon: myIcon });
                    coLayer.addLayer(marker);

                    marker.on('click', function(e) {
                        //Show details in panel.
                        showDetails(result);
                    });
                });
            });

            coLayer.addTo(map);

            return coLayer;
        }

        function showDetails(item){
            //Take the item and show mini details
            if(item){
                var distance;
                if(userLocation){
                    distance = KmToMi(getDistanceFromLatLonInKm(userLocation.coords.latitude,userLocation.coords.longitude, item.geometry.location.lat,  item.geometry.location.lng));
                }
                var html = '<div class="mini-item"><div style="float:left;"><span class="mini-title">' + item.name + '</span><span class="mini-distance">' + (distance ? (distance).toFixed(2) + " mi" : "") + '</span></div><div><div style="float:right;" class="item_details_link"><a href="/' + mode + '/' + item.id + '" type="button" class="btn btn-default">Details</a></div></div>';
                $("#mini_details").html(html);
            }
        }


            function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
                var R = 6371; // Radius of the earth in km
                var dLat = deg2rad(lat2-lat1);  // deg2rad below
                var dLon = deg2rad(lon2-lon1);
                var a =
                                Math.sin(dLat/2) * Math.sin(dLat/2) +
                                Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                                Math.sin(dLon/2) * Math.sin(dLon/2)
                        ;
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
                var d = R * c; // Distance in km
                return d;
            }

            function deg2rad(deg) {
                return deg * (Math.PI/180)
            }

            function KmToMi(km) {
                return km * .621371;
            }


            function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function(position){
                            userLocation = position;
                            //Add to map

                            var myIcon = L.divIcon({className: '', html: '<img class="gps_ring" />'});
                            L.marker([position.coords.latitude, position.coords.longitude], {icon: myIcon}).addTo(map);
                        });
                    }
            }


    </script>
  </body>
